<ion-header>

    <ion-navbar hideBackButton  color="primary">
        <ion-title>Mi Pedido</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list *ngIf="productos.length >0">
        <ion-item *ngFor="let prod of productos">
            <ion-avatar item-left>
                <img [src]="prod.image_url" alt="">
            </ion-avatar>
            <h3>{{prod.name}}
                <ion-badge color="favorite" *ngIf="prod.categoria_id == 39">Periferico</ion-badge>
            </h3>
            <ion-badge item-right>{{prod.cantidad_pedidos}}</ion-badge>
        </ion-item>
    </ion-list>
    <ion-card *ngIf="productos.length == 0 && procesado == false">
        <h1>
            No hay nada en el carrito
        </h1>

    </ion-card>

    <div style="text-align:center;vertical-align:middle;height:90%;" *ngIf="productos.length == 0 && procesado == true">
        <h2>Su Pedido fue Procesado Correctamente</h2>

        <ion-icon style="display:block; font-size:68px;" large color="secondary" name="checkmark-circle"></ion-icon>

        <button ion-button outline color="primary" large> Ver Pedido</button>


    </div>
</ion-content>


<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button ion-button full  color="secondary" (click)="confirmarCarrito()" [disabled]="productos.length == 0">Confirmar Pedido</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
