page-login {
    .padding{
        margin-top: 10%;
    }
     .logo{
         width: 100px;
         height: 100px;
         margin: 0 auto;
     }
}
.auth{
    background-image: url("http://newton.eycproveedores.com/newton/public/img/fondo (1).jpg");
}
